// .header {
//     padding: 0 24px;
//     color: #f7f7f7;

//     .left {
//         float: left;
//     }

//     .right {
//         float: right
//     }
// }

.header {
    padding: 0 24px;
    color: #f7f7f7;
    display: flex;
    justify-content: space-between;  // 左右两端对齐

    .left {

    }

    .right {

    }
}

.main {
    min-height: calc(100vh - 64px - 65px); //vh: "viewport height"
}

.footer {
    text-align: center;
    background-color: #f7f7f7;
    border-top: 1px solid #e8e8e8;
}